/web/bundles/
/app/config/parameters.yml
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/
/vendor/
!app/console
/composer.phar
/nbproject
/web/bundles/
/web/uploads/
/app/phpunit.xml
/.idea
/src/Czarnodziej/CoreBundle/Lastfm/*
